﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="SitecorePlayground.WebForm1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
    <h1>Item Tester</h1>
Guid<asp:TextBox ID="Guid" runat="server">
    </asp:TextBox>Field:<asp:TextBox ID="Field" runat="server"></asp:TextBox>  
        <asp:Button
    ID="Button1" runat="server" Text="Button" onclick="Button1_Click" /><br/><asp:Label ID="Label1" runat="server"
        Text="Results"></asp:Label>

    </div>
    </form>
</body>
</html>
